body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

#main {
  transition: margin-left 0.3s;
}

.navbar {
  background-color: #1F4E79;
  height: 60px;
  display: flex;
  border-radius: 0 0 8px 8px;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.menu-icon a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  margin-left: 20px;
}

.navbar-nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar-nav a:hover {
  text-decoration: underline;
}

.logout a {
  font-weight: bold;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 0 8px 8px 0;
  background-color: #163d5c;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.side-nav a {
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: all 0.2s ease-in-out;
  transform: translateX(0px);
}

.side-nav a:hover {
  background-color: #285b86;
  margin-right: 10px;
  transform: translateX(5px);
  
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
}

.container {
  width: 700px;
  margin: 40px auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 25px;
}

.container p {
  font-size: 24px;
  text-align: center;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin-bottom: 30px;
}

.submit {
  padding: 10px 30px;
  background-color: #1F4E79;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submit:hover {
  background-color: #163d5c;
}

.cancel {
  padding: 6px 20px;
  background-color: #bbb;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.cancel:hover {
  background-color: #999;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-btn {
  background-color: #1F4E79;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  padding: 7px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.edit-btn:hover {
  background-color: #163d5c;
  color: white;
}

.hapus-btn {
  background-color: white;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  color: #bb0000;
  padding: 7px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.hapus-btn:hover {
  background-color: #bb0000;
  color: white;
}

i {
  margin-right: 5px;
}

.tambah {
  background-color: white;
  border: 1px solid #45a050;
  border-radius: 8px;
  text-decoration: none;
  color: #1a4f20;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.tambah:hover {
  background-color: #45a049;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

th {
  background-color: #1F4E79;
  color: white;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #bbbbbb;
}